  
body, ul, li, h3  {
    margin: 0; 
    padding: 0; 
    list-style: none; 
    font: bold 12px "微软雅黑"; 
}

#emailDiv
{
    height:100px; 
    text-align:center;
    padding-top:40px;
}