  
body, ul, li, h3  {
    margin: 0; 
    padding: 0; 
    list-style: none; 
    font: bold 12px "微软雅黑"; 
}

#searchDiv
{
    height:100px; 
    text-align:center;
    padding-top:40px;
}

#scheduleDiv
{ 
    width:100%;
    margin:0px 70px 0px 70px;
}

#schedulebox 
{ 
    position: relative; 
}
#schedulebox li 
{ 
    position: absolute; 
    background: #f0f0f0; 
    border: solid 1px #ccc; 
    text-align: center; 
    padding: 10px; 
    left: 0px; 
    top: 0; 
    border:1px solid #e1dfdf;
    color:Gray;
    cursor:pointer;
}
h3 
{ 
    padding-top: 8px; 
}
img 
{ 
    width: 200px; 
    height: auto; 
    display: block; 
    border: 0;
}
/*css3动画*/
li 
{ -webkit-transition: all .7s ease-out .1s; 
  -moz-transition: all .7s ease-out; 
  -o-transition: all .7s ease-out .1s; 
  transition: all .7s ease-out .1s;
}
 
 .scheduletagDiv
 {
     text-align:left; 
     padding-left:15px; 
     padding-top:2px;  
 }
 .scheduletagDiv a
 {
      color:Red; 
 }
.scheduleDesDiv
 {
     text-align:left; 
     padding-left:30px; 
     padding-top:2px;  
 }